<footer class="bg-dark text-light text-center p-4 mt-5">
    <p>© 2026 PassVault. All rights reserved.</p>

    <div>
        <a href="#" class="text-light me-3">LinkedIn</a>
        <a href="#" class="text-light me-3">GitHub</a>
        <a href="#" class="text-light">Twitter</a>
    </div>
</footer>