body {
    background: linear-gradient(135deg, #64666d, #000000);
    font-family: 'Poppins', sans-serif;
}

.login-card {
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login-card h3 {
    font-weight: 600;
}

.login-btn {
    border-radius: 8px;
    padding: 10px;
    font-weight: 500;
    transition: 0.3s;
}

.login-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}