<div class="container mt-5">
    <div class="card p-4 shadow">
        <h1 style="color:red;">OTP PAGE TEST</h1>

        <h3 class="mb-3">🔐 Verify OTP</h3>

        
        <form id="otpForm" onsubmit="return false;">
            <input type="hidden" id="csrfToken" value="<%= csrfToken %>">

            <input type="text" name="otp" class="form-control mb-3" placeholder="Enter OTP" required>

            <button type="submit" class="btn btn-primary w-100">
                Verify
            </button>

        </form>

        <div id="error" class="text-danger mt-2"></div>

    </div>
</div>